.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 3rem 1.5rem 2rem 1.5rem;
  background: $major;
  box-shadow: 10px 11px 17px -6px rgba(0,0,0,0.32);
  outline: none;
  max-height: 95vh;
  overflow-y: scroll;
  width: 90vw;
  @include mediaQuery(600px) {
    padding: 3.5rem;
    width: auto;
  }
}

.modal > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.48);
  z-index: 3;
}