.notification {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem .8rem 2rem;
  width: 100vw;
  position: fixed;
  bottom: 0;
  right: 0;
  background: $accent;
  transition: .3s;
  div {
    cursor: pointer;
    transition: .3s;
    &:hover {
      transform: scale(1.1);
    }
  }
}