$head-font: 'Philosopher', sans-serif;
$body-font: 'Poppins', sans-serif;
$major: #FFF;
$accent: #F4C268;

@mixin mediaQuery($px) {
  @media (min-width: $px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $body-font;
  font-weight: 300;
  width: 100vw;
  overflow-x: hidden;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

nav {
  width: 100%;
  height: 4rem;
  padding: 0 2rem;
  position: fixed;
  background: $accent;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  ul {
    // position: absolute;
    // top: 8rem;
    // left: 50%;
    // z-index: -1;
    // transform: translate(-50%,-250%);
    list-style: none;
    // width: 100vw;
    // height: 75vh;
    // transition: .3s;
    display: flex;
    // flex-direction: column;
    align-items: center;
    // justify-content: flex-start;
    // background: $accent;
    // padding-bottom: 3rem;
    li {
      // margin-bottom: 1rem;
      margin-right: 2rem;
      a {
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        transition: .3s;
        &:hover {
          color: $accent;
        }
      }
    }
  }
  // .check-btn {
  //   color: white;
  //   position: absolute;
  //   top: 1.2rem;
  //   right: 2rem;
  //   cursor: pointer;
  // }
  // #check {
  //   display: none;
  // }
  // #check:checked ~ ul {
  //   position: absolute;
  //   top: 7.5rem;
  //   left: 50%;
  //   transform: translate(-50%,-50%);
  // }
  @include mediaQuery(600px) {
    padding: 0 6rem;
    background: $major;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    ul {
      // display: flex;
      // align-items: center;
      // position: static;
      li {
        a {
          color: black;
        }
      }
    }
  }
}

.profile-picture-wrapper {
  overflow: hidden;
  width: 2.5rem;
  height: 2.5rem;
  background: $accent;
  border-radius: 50%;
  cursor: pointer;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.bigger {
  width: 6rem;
  height: 6rem;
}

nav > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}

.nav-link {
  cursor: pointer;
  transition: .3s;
  &:hover {
    color: $accent;
  }
}

header {
  padding-top: 10rem;
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.head-font {
  font-family: $head-font;
}

.head-font-thin {
  font-family: $head-font;
  font-weight: 300;
}

.txt-jumbo {
  font-size: 3rem;
  @include mediaQuery(600px) {
    font-size: 5rem;
  }
}

.input-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  position: relative;
  div:nth-child(2) {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    background: $major;
    height: 80%;
    padding: .5rem 0 .5rem .5rem;
  }
}

.minimal-input {
  border: none;
  border-bottom: 1px solid black;
  font-size: 1rem;
  padding: .5rem .75rem;
  font-family: inherit;
  width: 100%;
  outline: none;
  @include mediaQuery(600px) {
    font-size: 1.75rem;
    padding: .5rem 1rem;
  }
}

.minimal-input-sm {
  border: none;
  border-bottom: 1px solid black;
  font-size: .8rem;
  padding: .5rem .75rem;
  font-family: inherit;
  width: 100%;
  outline: none;
  @include mediaQuery(600px) {
    font-size: 1rem;
    padding: .5rem 1rem;
  }
}

input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.minimal-input-file {
  display: inline-block;
  padding: .9rem 4rem;
  border-radius: 2rem;
  background: $accent;
  color: $major;
  cursor: pointer;
  transition: .3s;
  text-align: center;
  &:hover {
    transform: scale(1.1);
  }
  label {
    text-transform: uppercase;
    margin: 0;
    font-weight: 600;
    font-size: .8rem;
    cursor: pointer;
    user-select: none;
    margin-top: -10px;
  }
}

.input-upload-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  div {
    margin-bottom: 1rem;
  }
  @include mediaQuery(600px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.step-num {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 2rem;
  // width: 2.4rem;
  height: 33px;
  width: 33px;
  border-radius: 50%;
  color: $major;
  padding: .1rem;
  @include mediaQuery(600px) {
    width: 33px;
  }
}

.has-error {
  border: 1px solid #d40d0d;
  outline: none;
  box-shadow: 0px 0px 6px 2px rgba(191,19,19,0.8);
}

.minimal-button {
  border: none;
  border-radius: 2rem;
  padding: .9rem 5rem;
  background: $accent;
  color: $major;
  font-family: inherit;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
  &:hover {
    transform: scale(1.1);
  }
  @include mediaQuery(600px) {
    font-size: 1.1rem;
  }
}

.minimal-button-md {
  padding: .9rem 4rem;
  font-size: .8rem;
}

.circle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  padding: .1rem;
  border-radius: 50%;
}

.disabled-button {
  background: grey;
  cursor: default;
  &:hover {
    transform: none;
  }
}

#decoration-left {
  display: none;
  @include mediaQuery(600px) {
    display: block;
    position: absolute;
    top: 10rem;
    left: -20rem;
    // left: -25rem;
    img {
      width: 50vw;
    }
  }
}

#decoration-right {
  display: none;
  @include mediaQuery(600px) {
    display: block;
    position: absolute;
    top: 11rem;
    right: -20rem;
    // right: -25rem;
    img {
      width: 50vw;
    }
  }
}

.mb-1 {
  margin-bottom: 1rem;
}


.mb-2 {
  margin-bottom: 2rem;
}


.mb-3 {
  margin-bottom: 3rem;
}


.mb-4 {
  margin-bottom: 4rem;
}

.mr-half {
  margin-right: .5rem;
}

.mr-1 {
  margin-right: 1rem;
}


.mr-2 {
  margin-right: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 1rem;
  @include mediaQuery(600px) {
    padding: 5rem 10rem;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 6rem;
  row-gap: 4.5rem;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 25rem;
  height: 30rem;
  box-shadow: 0px 0px 22px 2px rgba(158,158,158,0.59);
  cursor: pointer;
  border-radius: .5rem;
}

.wide {
  @include mediaQuery(600px) {
    flex-direction: row-reverse;
    min-height: 15rem;
    height: 12.5rem;
    min-height: 0;
    .thumbnail-wrapper {
      border-radius: 0 .5rem .5rem 0;
      height: auto;
      width: 25%;
    }
    .recipe-description {
      height: 100%;
      width: 75%;
    }
  }
}

.thumbnail-wrapper {
  overflow: hidden;
  width: 100%;
  height: 65%;
  border-radius: .5rem .5rem 0 0;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.recipe-description {
  width: 100%;
  height: 35%;
  padding: 1.5rem 2rem;
  overflow: hidden;
  h3 {
    // text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  p {
    font-weight: 300;
    font-size: .95rem;
  }
}

.main-wrapper {
  padding: 8rem 1rem 3rem 1rem;
  h2 {
    font-size: 1rem;
  }
  @include mediaQuery(600px) {
    padding: 8rem 9rem 3rem 9rem;
    h2 {
      font-size: 1.1rem;
    }
  }
  @include mediaQuery(900px) {
    padding: 8rem 15rem 3rem 15rem;
  }
}

textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  font-family: inherit;
  padding: .5rem .75rem;
  font-size: .8rem;
  font-weight: 300;
  height: 6.5rem;
  outline: none;
  resize: none;
  @include mediaQuery(600px) {
    font-size: 1rem;
  }
}

.error-text {
  margin-top: -1.5rem;
  color: #cf0909;
  font-size: .75rem;
  margin-bottom: 2rem;
}

form input {
  font-weight: 300;
}




header::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 3.5rem;
  background: $major;
  box-shadow: 10px 11px 17px -6px rgba(0,0,0,0.32);
  outline: none;
}

.modal > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.48);
  z-index: 3;
}

.center-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.placeholder-container {
  overflow: hidden;
  width: 100%;
  height: 15rem;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  @include mediaQuery(600px) {
    height: 20rem;
  }
}

.detail-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  @include mediaQuery(600px) {
    flex-direction: row;
  }
}

.container-25 {
  width: 100%;
  @include mediaQuery(600px) {
    width: 25%;
  }
}

.container-75 {
  width: 100%;
  display: flex;
  flex-direction: column;
  @include mediaQuery(600px) {
    width: 75%;
    padding-left: 5rem;
  }
}

.subtitle-underline {
  font-size: 1.1rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid #cccccc;
}

.minimal-ul {
  li {
    list-style: none;
    display: flex;
    p {
      text-decoration: none;
      line-height: 2rem;
    }
  }
}

#main-search {
  position: relative;
}

.absolute-ul {
  position: absolute;
  top: 61px;
  left: 0;
  background: $major;
  width: 100%;
  li {
    cursor: pointer;
    padding: 0 .5rem;
    &:hover {
      background: $accent;
      color: $major;
    }
  }
}

.square-thumbnail {
  @include mediaQuery(600px) {
    height: 15rem;
  }
}

.profile-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #cccccc;
}